<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

		<style>
			#map {
				height:100%;
				width:100%;
			}
		</style>

	</head>
	<body>
		<div id="map"></div>
	</body>
	<script type="text/javascript">

		var map,
			baseLayers,
			layerControl;

		function initialize() {

			baseLayers = {
				"OpenStreetMap": L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
					attribution: '&copy; <a href="http://osm.org/copyright" target="_blank">OpenStreetMap</a> contributors',
					reuseTiles: true
				})
			}

			map = L.map('map',{
				maxZoom:20,
				layers: [
					baseLayers['OpenStreetMap']
				]
			}).setView([0,0], 2);

			$.get('/tms/1.0.0/', function(results){
				var datasources = results.TileMapService.TileMaps;
				for (var i=0; i<datasources.length; i++) {
					var url = datasources[i].href + '/{z}/{x}/{y}.png';
					var name = datasources[i].title;
					baseLayers[name] = L.tileLayer(url, {
				   		attribution: '&copy; <a href="https://github.com/sjsafranek/GeoTileServer-Node" target="_blank"> GeoTileServer </a>',
				   		reuseTiles: true
				   });
				}
				layerControl = L.control.layers(baseLayers, {});
				layerControl.addTo(map);
			});

		}

		$(document).ready(initialize);


	</script>
</html>
